@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* 
.World {
  width: 53%;
  border: 3px solid black;
  border-radius: 200px;
} */

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 33%;
  border: 3px solid white;
  border-radius: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 26px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.nav-list li a:hover {
  text-decoration: none;
  color: grey;
}

.rightNav {
  width: 30%;
  text-align: right;
  padding: 0 23px;
}

#search {
  padding: 5px;
  font-size: 13px;
  border: 2px solid grey;
  border-radius: 9px;
}

.background {
  background: rgba(0, 0, 0, 0.7) url("../Images/bg.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.firstSection {
  height: 100vh;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 60%;
  margin: auto;
  height: 80%;
}

.firstHalf {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf {
  width: 30%;
}

.secondHalf img {
  width: 70%;
  border-radius: 150px;
  border: 4px solid white;
  display: block;
  margin: auto;
}

.text-big {
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 51px;
}

.text-small {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

.btn {
  padding: 8px 20px;
  margin: 7px 3px;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

.btn-sm {
  padding: 6px 10px;
  vertical-align: middle;
}
.btn-dark {
  color: black;
  border: 2px solid gray;
}
.a {
  margin-top: 55px;
  padding: 8px 20px;
  margin: 7px 3px;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}
/* .a-github {
  padding: 8px 20px;
  margin: 7px 3px;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  margin-top: 250px;
} */
.Section-1 {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
}

.Section-2 {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
}

.thumbnail-1 {
  max-width: 100px;
}

.secLeft {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 70%;
  margin: auto;
  flex-direction: row-reverse;
  padding: 0 95px;
  font-family: "Ubuntu", sans-serif;
  margin-right: 125px;
}

.paras {
  padding: 0 65px;
}

.imgFluid-1 {
  width: 235%;
  border-radius: 25px;
}

.imgFluidLeft {
  width: 270%;
  border-radius: 25px;
}

.imgFluid-2 {
  width: 235%;
  border-radius: 25px;
}

.sectionSubTagLeft-p {
  margin-left: 125px;
  max-width: 100%;
}

.sectionTagLeft {
  margin-left: 122px;
}

.sectionSubTagLeft-p {
  max-width: 99%;
  display: flex;
}

.contact {
  background-color: #f6f5f4;
  height: 833px;
}

.text-center {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
}

.form {
  max-width: 1200px;
  margin: 42px auto;
}

.form-input {
  margin: 15px 0;
  padding: 5px 13px;
  width: 95%;
  font-size: 19px;
  border: 2px solid grey;
  border-radius: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text-footer {
  text-align: center;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}
.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 3px;
}
@media only screen and (max-width: 1140px) {
  .nav-list {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    transition: all 0.7s ease-out;
    height: 480px;
  }
  .rightNav {
    text-align: center;
  }
  .box-main {
    flex-direction: column-reverse;
    max-width: 100%;
  }
  #search {
    width: 100%;
  }
  .burger {
    display: block;
  }
  .h-nav-resp {
    height: 75px;
  }
  .v-class-resp {
    opacity: 0;
  }
  .Section-1 {
    /* display: flex; */
    flex-direction: column-reverse;
    height: 20%;
    max-width: 100%;
  }
  .Section-2 {
    flex-direction: column-reverse;
  }
  .secLeft {
    flex-direction: column-reverse;
  }
  .imgFluid-2 {
    width: 35%;
  }
  .imgFluidLeft {
    width: 40%;
  }
  .sectionSubTag {
    font-size: 10px;
    /* display: flex;
    max-width: 100%; */
  }
}
